<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find a Brewer's radio station close to your location">
  <meta name="author" content="Lee Carmichael">

  <title>Brewers Radio Finder</title>

  <link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap.css" >
  <link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/local.css" >
  <!-- looks better on ipad but not on main site now :-/ -->
<!--
this reset full width setting, need to adjust back to 940 from boostrap base
-->
  <link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap-responsive.css" >
  <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" >
</head>

<body>

<div class="container head">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="muted">Brewers Radio Finder</h1> 
    </div><!-- .span12 -->
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/">Search</a></li>
          <li><a href="/#about">About</a></li>           
          <li><a href="http://blog.leecarmichael.com">Blog</a></li>           
        </ul>                      
      </div>
    </div>
  </div>
</div><!-- .container .head -->

[% content %]

<div class="container">
  <hr>
  <footer>
    <p class="muted credit">Brewers Radio Finder by <a href="http://leecarmichael.com">Lee Carmichael</a> | <a href="#about">About</a> | <a href="http://milwaukee.brewers.mlb.com/mil/schedule/radio_network.jsp" target="_new">Brewers Radio Network</a> | <a href="http://milwaukee.brewers.mlb.com/" target="_new">Brewers</a></p>
    <!--
    <p>Created with <a href="http://perldancer.org">Dancer</a>, <a href="http://bootstrap.github.io">Bootstrap</a>, <a href="http://backbonejs.org">Backbone</a> and <a href="http://jquery.org">jQuery</a></p>
-->
  </footer>
</div>

<script src="[% request.uri_base %]/js/jquery-1.7.2.min.js"></script>
<script src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js"></script>
<script src="[% request.uri_base %]/backbone/js/underscore.js"></script>
<script src="[% request.uri_base %]/backbone/js/backbone.js"></script>
<script src="[% request.uri_base %]/backbone/js/json2.js"></script>
<script src="[% request.uri_base %]/js/models.js"></script>
<script src="[% request.uri_base %]/js/views.js"></script>
<script src="[% request.uri_base %]/js/app.js"></script>

[% IF settings.enable_ga %]
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7672971-5']);
  _gaq.push(['_setDomainName', 'leecarmichael.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
[% END %]

</body>
</html>
